body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.heading{
  color: #ff5722;
}
.search-field {
  border: none;
  border-radius: 50px;
  padding: 5px;
  outline: none;
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-box {
  border: 1px solid rgb(224 152 78);
  width: 255.5px;
  border-radius: 5px;
  margin: auto;
  margin-top: 30px;
  margin-bottom:20px;
  border-right: none;
}
.search-button {
  background-color: rgb(208 117 24)!important;
  border-color: #ff5722 !important;
  padding: 10px 50px;
  border-radius: 25px;
}
.search-button:hover{
  background-color: #ff5722 !important;
  outline: none !important;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  background: aliceblue;
  border-radius: 10px;
  padding: 15px 10px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}
.product-detail{
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}
.product-image {
  width: 150px;
  height: 150px;
}
.product-title {
  color: #414141;
}
.product-category, .product-ratings, .total-ratings {
  font-weight: 600;
}

.category-name {
  color: tomato;
}
/* Ratings design*/
.rating{
  color: gray;
}

.fill-rate{
  color: #dd9b22ed;
}
.ratings-number {
  margin-left: 5px;
}

.add-to-cart, .buy-now{
  background-color: #f58115!important;
  outline: none !important;
  color: white;
}
.details{
  background-color: #c75d06cc !important;
  outline: none !important;
  color: white;
}
.details:hover, .add-to-cart:hover, .buy-now:hover{
  background-color: orangered !important;
  color: white !important;
}

/* .details:hover{
  background-color: tomato !important;
  color: white !important;
} */
.cart {
  width: 350px;
  background-color: #e0f3ef;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
